doctype html
html
  head
    title my own posts
  body
    //- MESSAGE BOARD
    h3 All posts

    
    each key in allPosts
      p #{key.userId}:
      p #{key.title}
      p #{key.body}
      p Created at: #{key.createdAt}
      br

    br
    a(href='/') home
    br
    a(href='/createpost') create post
    br
    a(href='/myownposts') my own posts
    br
    a(href='/allPosts') all posts
    br
    a(href='/logout') log out
    
    //- IMPORT JS
    script(src='js/jquery-3.1.1.js')
