doctype html
html
	head
		title blogApp
		link(rel='stylesheet', type='text/css', href='../static/css/stylesheet.css')
		link(href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Cabin|Josefin+Sans" rel="stylesheet")

	body
		wrapper
			div.center
				h3 Your first time here? then:
				button.firstbutton(type='button', onclick="location.href='/signup'") Sign up
				br
				br
				h3 Or are you already registered?
				button.firstbutton(type='button', onclick="location.href='/login'") Log in



		script(src="../static/js/jquery-3.1.1.js")
		script(src="../static/js/custom.js")