doctype html
html
    head
    body

      nav
        a BLOG APPLICATION
          ul
            li
              a(href='/') LOGIN
            li
              a(href='/profile') PROFILE
            li
              a(href='/register') REGISTER

      h1 Register here

      form(action='/newuser' method='post')

        label(for='username') Username:
        input(type='text', placeholder='type a username here...', name='newUsername')

        label(for='email') Email:
        input(type='text', placeholder='type your email address here...', name='newEmail') 

        label(for='password') Password:
        input(type='text', placeholder='type a password here...', name='newPassword')

        button(type='submit', name='action') Register Now

      //- IMPORT JS
      script(src='js/jquery-3.1.1.js')

